html {
  font-size: 16px;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a:-webkit-any-link {
  color: #ffffff;
}

a:-webkit-any-link:hover {
  opacity: 0.8;
}

input:focus-visible {
  outline: none;
}

::-webkit-scrollbar {
  width: 11px;
  height: 11px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px 6px rgba(0, 0, 0, 0.2);
  border: 2px solid transparent;
  border-radius: 6px;
}

::-webkit-scrollbar-thumb {
  box-shadow: inset 0 0 6px 6px rgba(180, 180, 180, 0.5);
  border-radius: 6px;
  border: 2px solid transparent;
}

::-webkit-scrollbar-corner,
::-webkit-scrollbar-resizer {
  background-color: transparent;
}

ul.bn-notify-custom.bn-notify-notifications {
  display: none;
}

.bn-onboard-custom.bn-onboard-modal {
  z-index: 1310;
}

.bn-onboard-custom.bn-onboard-modal-content-header-icon {
  display: none;
}

.bn-onboard-custom.bn-onboard-modal-content-header-heading {
  margin-left: 0;
}

.bn-onboard-custom.bn-onboard-modal-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 1310;
}

.bn-onboard-custom.bn-onboard-modal-content.bn-onboard-dark-mode {
  background: black;
  border: 1px solid #212121;
}

.bn-onboard-custom.bn-onboard-modal-content-header {
  margin-bottom: 0;
}

.bn-onboard-custom.bn-onboard-modal-content.bn-onboard-dark-mode
  .bn-onboard-select-description {
  color: #646464;
}

.bn-onboard-modal-content p.bn-onboard-custom.bn-onboard-select-description {
  margin-top: 0.5rem;
}

.bn-onboard-custom.bn-onboard-modal-select-wallets li button {
  display: flex;
  flex-direction: column;
  width: 140px;
  height: 140px;
  border-radius: 12px;
  padding: 30px 20px;
}

.bn-onboard-modal-content ul.bn-onboard-custom.bn-onboard-modal-select-wallets {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  overflow-y: scroll;
  margin-bottom: 0;
  width: 444px;
}

.bn-onboard-custom.bn-onboard-modal-select-wallets li button span {
  margin: auto auto 0 auto;
  justify-content: center;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.bn-onboard-custom.bn-onboard-modal-content.bn-onboard-dark-mode li button {
  background: #0e212a;
}

.bn-onboard-custom.bn-onboard-modal
  .bn-onboard-custom.bn-onboard-modal-content {
  padding: 40px 25px 25px 25px;
  text-align: center;
  box-sizing: border-box;
  font-family: 'DM Sans';
}

.bn-onboard-custom.bn-onboard-modal-content
  .bn-onboard-custom.bn-onboard-select-info-container {
  display: none;
}

.bn-onboard-custom.bn-onboard-modal-content
  .bn-onboard-custom.bn-onboard-prepare-button {
  border: 1px solid #e9e9e9;
  border-radius: 12px;
  color: #8d97a0;
  text-align: center;
  padding: 14px 38px;
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  transition: all 0.3s ease-in;
  white-space: nowrap;
  margin: 0 8px;
}

.bn-onboard-custom.bn-onboard-modal-content.bn-onboard-dark-mode
  .bn-onboard-custom.bn-onboard-prepare-button {
  border: 1px solid #212121;
}

.bn-onboard-custom.bn-onboard-modal-content
  .bn-onboard-custom.bn-onboard-prepare-button:hover {
  background: transparent;
  border: 1px solid #5294ff;
  color: #5294ff;
}

.bn-onboard-custom.bn-onboard-modal-content
  .bn-onboard-custom.bn-onboard-prepare-button:active {
  opacity: 0.8;
  color: #8d97a0;
}

.bn-onboard-modal-content-close {
  width: 30px;
  min-height: 30px;
  border-radius: 50% !important;
}

@media only screen and (max-width: 450px) {
  .svelte-q1527 {
    width: 150px !important;
  }
  .bn-onboard-custom.bn-onboard-modal-select-wallets {
    width: 100% !important;
  }
}

/* light mode */

.bn-onboard-custom.bn-onboard-modal-content li button {
  background: rgba(82, 148, 255, 0.1);
}

.bn-onboard-modal-content .bn-onboard-modal-content-header h3 {
  color: #29343e;
  font-size: 28px;
  font-weight: 700;
  line-height: 18px;
  margin: 0 auto;
}

.bn-onboard-modal-content.bn-onboard-dark-mode
  .bn-onboard-modal-content-header
  h3 {
  color: #dcdcdc;
  font-size: 28px;
  font-weight: 700;
  line-height: 18px;
  margin: 0 auto;
}

.bn-onboard-modal-content p.bn-onboard-prepare-description {
  font-size: 14px;
  line-height: 18px;
  font-weight: 500;
  color: #8d97a0;
  font-family: 'DM Sans';
  margin-bottom: 6rem;
  padding: 0 3rem;
}

.bn-onboard-modal-content p.bn-onboard-prepare-description {
  color: #646464;
}

.bn-onboard-modal-content .bn-onboard-prepare-button-container {
  width: 100%;
}

.bn-onboard-modal-content
  .bn-onboard-prepare-button-container
  .bn-onboard-loading-container {
  margin-top: -9rem;
  position: absolute;
}

.bn-onboard-modal-content
  .bn-onboard-prepare-button-container
  .bn-onboard-prepare-button {
  position: initial;
}

.bn-onboard-custom.bn-onboard-loading {
  width: 56px;
  height: 56px;
}

.bn-onboard-custom.bn-onboard-loading > div {
  width: 56px;
  height: 56px;
  border-color: #5294ff transparent transparent transparent;
}

.bn-onboard-custom.bn-onboard-modal-content-close {
  margin-top: 0.5rem;
}

.bn-onboard-custom.bn-onboard-modal-content-close svg {
  width: 16px;
  height: 16px;
}
